/*parametr screen dotyczy tylko ekranów, może być też np. print*/
@media all and  (max-width:1200px){
 
    .portfolio-boxes{
        width: 50%;
    }
    #portfolio-box3{
        width: 100%;
    }
 
}
@media all and (max-width:992px){
    #menu-container ul{
        display: none;
    background-color: #ffffff;

        
    }
    #menu-container ul li{
        display: block;
    }
    #menu-container #drop:checked + ul{
        display: block;
    }
    #menu-container .toggle{
        display: block;
        padding: 0 20px;
        font-size: 20px;
        line-height: 60px;
        text-align: right;
    }
        .menu-list{
            display: block;
            text-align: right;
            padding: 20px;
    }
    #about-img img{
        width: 100%;
    }
    .about-text{
        width: 100%;
    }
       .portfolio-boxes{
        width: 100%;
    }
    .form {
        width: 100%;
    }
    #form-header{
        text-align: center;
    }
   #form #data{
        text-align: center;
    }
    #social-logos{
        text-align: center;
    }
}
@media all and (max-width:768px){
    
    section{
        padding: 20px;
    }
  
}
@media all and (max-width:520px){
  
    section{
        padding: 0; 
    }
    #Name{
        font-size: 3em;
    }
    #FED{
        font-size: 1.5em;
    }
}