/*General styles*/

body {
    margin: 0;
    font-family: "Lato";
    color: #291f1a;
}

section {
    padding: 50px;
    box-sizing: border-box;
}

span {
    color: #1ac056
}

#menu-container {
    height: 60px;
    width: 100%;
    background-color: #ffffff;
    color: #1ac056;
    position: fixed;
    top: 0;
    z-index: 10;
}

#menu-container ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right;
    
}

.menu-list a {
    text-decoration: none;
    color: #1ac056;
}

.menu-list a:hover {
    color: #291f1a;
}
#menu-container .toggle, #menu-container #drop{
    display: none;
} 
.menu-list {
    display: inline-block;
    padding: 20px 40px;
    overflow: auto;
    text-align: right;
/*    float: right;*/
}

.front-header {
    background-image: url(../img/header-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
    color: #fff;
    position: relative;
}

.main-header {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
}

#Name {
    font-family: "Roboto";
    font-size: 4em;
    font-weight: 300;
    margin: 0;

}

#FED {
    font-size: 3em;
    font-weight: 200;
}

#about {
    /*    position: relative;*/
    /*    margin: 0;*/
    box-shadow: 0 0px 20px 0px grey;
}

#about-header {
    /*
    display: inline-block;
    width: 100%;
*/
    text-align: center;
}

.about-text {
    display: inline-block;
    text-align: left;
    width: 49%;
    margin: 0;
    vertical-align: top;

}

#about-img {
    display: inline-block;
    text-align: center;
    margin: 0;
    /*    float: left;*/
}

#about-img img {
    width: 50%;
    /*
    margin: 0 40px 0 40px;
    padding-left: 50px;
*/
    border: 15px solid #fff;
    border-radius: 2px;
}

#skill {
    /*    Sekcja nie ma marginesów, nie pozycjonuje wewnątrz absolutnie więc nie trzeba ustawiac relatywnie*/
    /*    position: relative;*/
    /*    margin: 0;*/
    text-align: center;
}

.logo {
    display: inline-block;
}

/*Paddding do wypelniania margines do pozycjonowania*/

.logo figcaption {
    margin-top: 10px;
}

#portfolio {
    text-align: center;
    /*    position: relative;*/
}

.portfolio-boxes {
    display: inline-block;
    width: 33.333333%;
    height: 350px;
    margin: 0;
    /*    Usunie przerwy miedzy obrazkami. Można równiez wyzerować font size, ale potem trzeba powrócić z wielkością*/
    float: left;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.clear {
    clear: both;
}

#portfolio-box1 {
    background-image: url(../img/portfolio1.jpg);

}

#portfolio-box2 {
    background-image: url(../img/portfolio2.jpg);

}

#portfolio-box3 {
    background-image: url(../img/portfolio4.jpg);

}

.portfolio-text {
    height: 100%;
    /*    Borderbox sprawia że padding jest w środku boxa*/
    box-sizing: border-box;
    color: #fff;
    background-color: rgba(33, 59, 80, 0.8);
    margin: 0;
    opacity: 0;
    padding: 10px;
    transition: all 0.4s ease-out;
}

.portfolio-text:hover {
    opacity: 1;

}

.portfolio-text article {
    height: 100%;
    border: 1px solid #fff;
    /*    dopasowanie bloku do wartości w środku i wycentrowanie*/
    display: flex;
    justify-content: center;
    align-items: center;
}

#portfolio .fa-link {
    font-size: 40px;
}

.form a {
    text-decoration: none;
    color: #1ac056;

}

#form-header {
    margin: 0;
    padding: 20px 0 20px 20px;
}

#form {
    background-color: #213b50;
    color: #fff;
}

.form {
/*    position: relative;*/
    vertical-align: top;
/*    top: 0;*/
    margin-top: 20px;
    display: inline-block;
    width: 45%;
    padding: 20px;
/*    padding-left: 20px;*/
}

.form input[type="text"],
.form input[type="email"],
form textarea {
    background-color: #2b4a64;
    border: 1px solid transparent;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    font-family: "Lato";
    color: #fff;
    box-sizing: border-box;
}

.form input[type="text"],
.form input[type="email"] {
    height: 40px;
}

.form textarea {
    height: 100px;
    padding-top: 10px;

}
/*Typ powinien być w cudzysłowie bo niektore przeglądarki inaczje go nie czytaja*/
.form input[type="submit"] {
    font-family: "Lato";
    color: #fff;
/*    border-color: ;*/
    padding: 0;
/*    position: relative;*/
    background-color: #1ac056;
    border: 1px solid transparent;
    height: 30px;
    width: 60px;
/*    left: 450px;*/
    cursor: pointer;
    float: right;

}

.form input[type="submit"]:hover {
    border-color: rgba( 255, 255, 255, 1);
}

.social {
    margin: 0 50px 0 0;
    display: inline-block;
   color:#fff;
    font-size: 50px;
    border: 2px solid #fff;
    text-align: center;
    line-height: 50px;
    padding: 0 5px;
}

#social-logos {
  padding: 30px 0;

}
.form .social a {
    text-decoration: none;
    color: #fff;

}

footer {
    background-color: #142634;
    color: #fff;
    padding: 10px;
}

footer p{
    margin: 0;
}
